@model DynamicMVC.UI.DynamicMVC.ViewModels.DynamicIndexViewModel

@{
    ViewBag.Title = @Model.Title;
}

<style>
    .container {
        padding-left: 2px;
        padding-right: 2px;
    }
</style>
<div class="container">
    @Html.Partial("DynamicControls/_DisplayMessage", true)
    <div class="row hidden-xs">
        <h1>@Model.Header</h1>
    </div>
    <div id="MobileHeader" class="row visible-xs">
        <div class="col-xs-3">
            @Html.Partial("DynamicControls/_PreviousMobileButton")
        </div>
        <div class="col-xs-6" style="text-align: center;">
            <h3 style="margin-bottom: 0;">@Model.Header</h3>
            <h6 id="MobilePagingMessage" style="margin: 0; font-size: 10px;"></h6>
            <h6 style="margin: 0; font-size: 8px;">@Model.FilterMessage</h6>
        </div>
        <div class="col-xs-3" style="margin-top: 20px;">
            @Html.Partial("DynamicControls/_NextMobileButton")
        </div>
    </div>
</div>
<div class="container">
    @Html.Partial("Partials/_DynamicIndexFilters", Model.DynamicIndexFiltersViewModel)
    <div id="ajaxtable" style="margin-top: 10px;">
        @* ReSharper disable once Mvc.ActionNotResolved *@
        @Html.Action("_Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

